/*

* {
    box-sizing: border-box;
}

body {
    padding: 100px;
    width: 100%;
    background-image: url("../img/pexels-felixmittermeier-1146134.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
header {
background-color: yellow;
}

header > img {

}

img {

}

nav {

}

nav > a {

}

main {

}

main > div {

}

div > p:nth-of-type(1) {
    background-color: yellow;
}

div > p:nth-of-type(2) {
    background-color: green;
}

div > p:nth-of-type(3) {
    background-color: red;
}

div > div:nth-of-type(1) {
    background-color: blue;
}

div > div:nth-of-type(2) {
    background-color: violet;
}
*/

/* css custom properties -> "css kintamieji" */

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/static/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto;
    color: #333;
  }
  .container {
    --w: 800px;
    display: inline-block;
    width: var(--w);
    margin: 40px calc((100% - var(--w)) / 2) 0;
  }
  
  .logo {
    float: left;
    height: 40px;
    user-select: none;
  }
  
  .main-nav {
    float: right;
  }
  
  .nav-link {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 30px;
    user-select: none;
  }
  .nav-link:first-child {
    margin-left: 0;
  }
  .nav-link:hover {
    text-decoration: underline;
    color: #000;
    text-shadow: 0.5px 0.5px #331627;
      }
  
  .left-column {
    float: left;
    width: 40%;
    margin-top: 25px;
  }
  
  .main-title {
    font-size: 60px;
    margin: 0;
    font-weight: lighter;
    font-family: Roboto2;
    user-select: none;

  }
  .sub-title {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    font-family: Roboto2;
    user-select: none;

  }
  .line {
    color: #555;
  }
  
  .description {
    color: #555;
    user-select: none;
  }
  .btn-group {
    display: inline-block;
  }
  
  .btn {
    float: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #649;
    color: #fff;
    border: 3px solid #649;
    text-decoration: none;
    user-select: none;
  }
  .btn.btn-white  {
    float: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-left: 20px;
    border-radius: 30px;
    color: #333;
    border: 3px solid #649;
    text-decoration: none;
    user-select: none;
  }
  
  .btn:hover {
    box-shadow: 0px 6px 12px #0007;
    color: rgba(248, 203, 228, 50);
    border-radius: 20px;
  }
  
  .main-img {
    float: right;
    width: 60%;
    user-select: none;
  }
  
  footer {
    margin-bottom: 40px;
  }
  
  .social-group {
    float: left;
  }
  .social-link {
    color: #333;
    text-decoration: none;
    user-select: none;
  }
  .social-link:hover {
    text-decoration: underline;
    color: #000;
    text-shadow: 1px 1px #3a2433;
    
  }

  .copyright {
    float: right;
    margin: 0;
    user-select: none;
  }